body {
  background: url(https://cdn.hipwallpaper.com/i/95/75/nZU8wd.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 0;
  background-size: 100% 100%;
}

img {
  justify-content: center;
  align-items: center;
  height: 100px;
  width: auto;
  margin: auto;
  display: flex;
}

p {
  text-align: center;
}

h1 {
  color: black;
  text-align: center;
  font-size: 12px;
  margin: 2px;
}

h2 {
  color:#00529F;
  text-align: center;
  font-size: 12px;
  margin: 2px;
}

h3 {
  color:black;
  text-align: center;
  font-size: 35px;
  margin: 2px;
}

h4 {
  color: white;
  text-align: center;
  font-size: 10px;
  margin: 2px;
}

h5 {
  color: black;
  text-align: center;
  font-size: 15px;
  margin: 2px;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a {
  text-decoration: none;
}

.buttons {
  text-align: center;

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ieee {
  background: rgba(255, 255, 255, 0.5);
  color: #00529F;
  display: inline-block;
  font-size: 1.25em;
  margin: 2px;
  padding: 10px 0px;
  text-align: center;
  width: 70%;
  box-shadow: 0px 2px 0px #00529F;
  border-radius: 5px;
}

.button-medium {
  background: #fff;
  color: #000000;
  display: inline-block;
  font-size: 1.25em;
  margin: 2px;
  padding: 10px 0px;
  text-align: center;
  width: 70%;
  box-shadow: 0px 2px 0px #fff;
  border-radius: 5px;
}

.social-facebook {
  background: #3b5998;
  color: #fff;
  display: inline-block;
  font-size: 1.25em;
  margin: 2px;
  padding: 10px 0px;
  text-align: center;
  width: 70%;
  box-shadow: 0px 2px 0px #3b5998;
  border-radius: 5px;
}

.social-linkedin {
  background: #007bb5;
  color: #fff;
  display: inline-block;
  font-size: 1.25em;
  margin: 2px;
  padding: 10px 0px;
  text-align: center;
  width: 70%;
  box-shadow: 0px 2px 0px #007bb5;
  border-radius: 5px;
}

.button-twitter {
  background: #55acee;
  color: #fff;
  display: inline-block;
  font-size: 1.25em;
  margin: 2px;
  padding: 10px 0px;
  text-align: center;
  width: 70%;
  box-shadow: 0px 2px 0px #55acee;
  border-radius: 5px;
}

.button-tiktok {
  background:#ff0084;
  color: #fff;
  display: inline-block;
  font-size: 1.25em;
  margin: 2px;
  padding: 10px 0px;
  text-align: center;
  width: 70%;
  box-shadow: 0px 2px 0px #ff0084;
  border-radius: 5px;
}

.button-instagram {
  background: #125688;
  color: #fff;
  display: inline-block;
  font-size: 1.25em;
  margin: 2px;
  padding: 10px 0px;
  text-align: center;
  width: 70%;
  box-shadow: 0px 2px 0px #125688;
  border-radius: 5px;
}

.button-youtube {
  background: #bb0000;
  color: #fff;
  display: inline-block;
  font-size: 1.25em;
  margin: 2px;
  padding: 10px 0px;
  text-align: center;
  width: 70%;
  box-shadow: 0px 2px 0px #bb0000;
  border-radius: 5px;
}

.button-discord {
  background: #410093;
  color: #fff;
  display: inline-block;
  font-size: 1.25em;
  margin: 2px;
  padding: 10px 0px;
  text-align: center;
  width: 70%;
  box-shadow: 0px 2px 0px #410093;
  border-radius: 5px;
}

.button-sb {
  background: #00529F;
  color: #fff;
  display: inline-block;
  font-size: 1.25em;
  margin: 2px;
  padding: 10px 0px;
  text-align: center;
  width: 70%;
  box-shadow: 0px 2px 0px #00529F;
  border-radius: 5px;
}
