body {
  background: url(https://cdn.hipwallpaper.com/i/95/75/nZU8wd.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 0;
  background-size: 100% 100%;
}

img {
  justify-content: center;
  align-items: center;
  height: 100px;
  width: auto;
  margin: auto;
  display: flex;
}

p {
  text-align: center;
}

h1 {
  color: black;
  text-align: center;
  font-size: 12px;
  margin: 2px;
}

h2 {
  color:#00529F;
  text-align: center;
  font-size: 12px;
  margin: 2px;
}

h3 {
  color:black;
  text-align: center;
  font-size: 35px;
  margin: 2px;
}

h4 {
  color: white;
  text-align: center;
  font-size: 10px;
  margin: 2px;
}

h5 {
  color: black;
  text-align: center;
  font-size: 15px;
  margin: 2px;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a {
  text-decoration: none;
}

.buttons {
  text-align: center;

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ieee {
  background: rgba(255, 255, 255, 0.5);
  color: #00529F;
  display: inline-block;
  font-size: 1.25em;
  margin: 7px;
  padding: 10px 0px;
  text-align: center;
  width: 70%;
  border: 2px solid #00529F;
}

.ieee:hover {
  background-color: #00529F;
   box-shadow: 0 0 10px #00529F, 0 0 20px #00529F, 0 0 20px #00529F;
   color: #434343;
 }
